<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div>
      <div><a href="/Rock">Play Rock</a></div>
      <div><a href="/Paper">Play Paper</a><div>
      <div><a href="/Scissors">Play Scissors</a></div>

    <%= yield %>

  </body>
</html>
